body {
    box-sizing: border-box;
    background-color: #fff;
}


.navbar.navbar.bg-light{
    display: flex;
    justify-content: space-between;

}

.navbar-brand {
    font-weight: bolder;
    color: #ff2d20!important;
    font-size: x-large!important;
}

.list{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 10px;
}

.list li {
    padding: 10px;
}

.list li a {
    list-style: none; 
    color: black;
    font-size: medium;
    font-weight: 500;
}


.form-inline {
    justify-content: space-between;
}

#td-edit, #td-delete {
    padding: 10px;
    width: 0;
}
